html, body{
  height: 100%;
}
body{
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}
li{
  list-style: none;
}
ul{
  padding:0;
  margin: 0;
}
.listWindow{
  width: 22vw;
  height: 60vh;
  min-height: 600px;
  min-width: 400px;
  background-color: red;
  position: relative;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 15px 5px #000000; 
box-shadow: 2px 2px 15px 5px #000000;
}

.listWindow__header{
  height: 5vh;
  /* min-height: calc((600px * 5) / 60px); */
  min-height: 50px;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top-left-radius: 20px; */
  /* border-top-right-radius: 20px; */
  border-radius: 20px 20px 0 0;
  font-size:1rem;
  font-weight: bold;
}

.listWindow__content{
  height: 47vh;
  min-height: 470px;
  background-color: #eeeeee;
  overflow-y: auto;
}
.listWindow__content .item {
  margin-bottom:10px;
  padding-left:33px;
  padding-top:15px;
  display: flex;
  justify-content: space-between;
}
.listWindow__content i{
  margin-right:30px;
  cursor: pointer;
}
.listWindow__content i:hover{
  color:red;
}
.listWindow__content .divider{
  width: 90%;
  height: 1px;
  background-color: lightgray;
  margin: auto;
}

.listWindow__textInput{
  height: 3vh;
  min-height: 30px;
  background-color: #fff;
}
.listWindow__textInput input{
  height: 100%;
  width: 100%;
  padding: 0 16px;
  border: none;
  box-sizing: border-box;
  font-weight: 700;
}
.listWindow__textInput input:focus{
  outline: none;
}

.listWindow__footer{
  height: 5vh;
  min-height: 50px;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__circle{
  width: 10%;
  height: 90%;
  background-color: #000;
  display: flex;
  align-items: center;
  border-radius:50%;
  justify-content: center;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.footer__circle:hover{
  transform: scale(1.1);
}
.footer__circle i{
  color:#fff;
  font-size: 28px;
}